<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.11.2" targetFramework="net48" />
  <package id="AWSSDK.S3" version="3.7.9.2" targetFramework="net48" />
  <package id="AWSSDK.SimpleEmailV2" version="3.7.1.85" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net48" />
</packages>